<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>verify</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Enter your token</h1>
      <div class="<%= status %>"><%= message %></div>

      <form action="/verify" method="post">
        <input type="text" id="token" name="token" placeholder="Token" /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
